@font-face {
  font-family: "DelhiLoungeFont";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "DelhiLoungeFont";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #5e5e5e;
  font-family: "DelhiLoungeFont", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  font-weight: 400;
}
.menu-index {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.menu-heading {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2.5rem;
  margin-top: -4rem;
}
.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.menu-btn {
  background-color: transparent;
  font-family: "DelhiLoungeFont", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  color: #466c44;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
}
.heading-img {
  width: 245px;
}
.combo-btn {
  margin-bottom: 5rem;
  letter-spacing: 4px;
  color: #a28031;
  font-family: "DelhiLoungeFont", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  font-weight: 600;
}
.menu-footer {
  text-align: center;
}
.menu-footer h4 {
  line-height: 4px;
  font-size: 16px;
  color: #a28031;
}
.menu-footer p {
  line-height: 4px;
  font-size: 10px;
  color: #5b5b5b;
}
.dev {
  text-align: center;
  margin-top: 50%;
  transform: translateY(-50%);
}
.index-btn {
  font-family: "DelhiLoungeFont", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2.7px;
  color: #a28031;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(162, 128, 49, 0.547);
  border-radius: 3px;
  padding: 0.4rem 0.7rem;
  text-transform: uppercase;
  margin-inline: auto;
}
.menu-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  --max-width: 605px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding)));
  margin-inline: auto;
}
.top-nav {
  margin-block: 0.7rem;
}
.page-heading {
  width: 100%;
  margin-block: 1rem;
}
.prev,
.next {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 0.7rem;
}
.next svg,
.prev svg {
  color: #7f7f7f;
}
.menu-item-heading h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: -1px;
  font-family: serif;
  color: #a28031;
}
.menu-item-sub-heading {
  margin-top: 1.3rem;
  text-align: center;
  padding-block: 1rem;
  border-top: 1px solid #a2803165;
  border-bottom: 1px solid #a2803165;
  position: relative;
}
.menu-item-sub-heading::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #a28031;
}
.menu-item-sub-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -19px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #a28031;
}
.menu-item-sub-heading p {
  text-transform: uppercase;
  font-size: 0.71rem;
  color: #a28031;
  letter-spacing: 3px;
}
.menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 1.8rem;
  margin-inline: 1rem;
  gap: 1.5rem;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu-item-name {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  font-family: shreif;
  letter-spacing: -0.4px;
  color: #4b4b4b;
}
.menu-item-description {
  font-size: 0.52rem;
  letter-spacing: 0.5px;
  color: #777777;
}
.menu-item-cta {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.menu-item-price {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
  color: #777777;
}
.menu-item-action {
  display: flex;
  gap: 0.5rem;
}
.menu-item-qty {
  width: 5ch;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  border: none;
}
.menu-item-qty::-webkit-inner-spin-button,
.menu-item-qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-btn {
  padding-block: 2.5px 0.6px;
  padding-inline: 4px;
  border-radius: 50%;
  border: 1px solid #777777;
  background-color: transparent;
}
.cart-btn svg {
  color: #777777;
}
.cart-container {
  position: absolute;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
  width: 610px;
  border-radius: 40px;
  z-index: 999;
}
.cart-heading {
  text-align: center;
  padding: 0.8rem;
  width: 100%;
  border-radius: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
  border: 1px solid rgb(99, 99, 99);
  transition: transform 600ms ease;
}
.cart-add-animation {
  transform: scale(1.02);
}
.cart-remove-animation {
  transform: scale(0.98);
}
.cart-design-prev::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #a28031;
}
.cart-design-prev::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-100%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #a28031;
}
.cart-design-next::before {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #a28031;
}
.cart-design-next::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-100%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #a28031;
}

.cart-heading h3 {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 0.7rem;
  color: #6c6c6c;
}
.cart-heading h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: #a28031;
}
.cart-details {
  padding-block: 3rem 1rem;
  padding-inline: 1rem;
  margin-top: -2rem;
  background-color: #f7f7f7;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
  transition: height 300ms ease, padding 400ms ease, opacity 0s, visibility 0s;
}
.cart-hidden {
  height: 0;
  padding-block: 0;
  margin-top: 0;
  visibility: hidden;
  opacity: 0;
}
.empty-cart {
  color: #a7a7a7;
}
.cart-items {
  list-style: none;
}
.cart-item {
  margin-block: 0.5rem;
  text-align: center;
  letter-spacing: 2px;
}
.cart-hidden .cart-item {
  margin-block: 0;
}

.cart-total {
  text-align: center;
  font-weight: 600;
  color: #656565;
  font-size: 1.3rem;
  position: relative;
}
.cart-total::before {
  display: block;
  content: "";
  position: relative;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #d7d7d7;
  margin-block: 0.8rem;
}
