@font-face {
  font-family: "DelhiLoungeCrimsonText";
  src: url("../fonts/CrimsonText/CrimsonText-Italic.ttf");
}
@font-face {
  font-family: "DelhiLoungeCinzel";
  src: url("../fonts/Cinzel/Cinzel-Bold.otf");
}
@font-face {
  font-family: "DelhiLoungeWondershine";
  src: url("../fonts/Wondershine/Wondershine.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e5e5f7;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 5px
    ),
    repeating-linear-gradient(#ffc60055, #ffc600);
  font-family: "DelhiLoungeCrimsonText", "Times New Roman", Times, serif;
  font-weight: 400;
}
.page {
  background-image: url(../img/menu-images/page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.last-page {
  background-image: url(../img/menu-images/last.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-page {
  display: flex;
  height: 100%;
}
.psudo-menu-wrapper {
  width: 100%;
}
.menu-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: end;
  width: 100%;
}
.menu-headings {
  display: flex;
  flex-flow: column nowrap;
}
.category-name {
  font-family: "DelhiLoungeWondershine", "Times New Roman", Times, serif;
  font-size: 57px;
  font-weight: 100;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #b37f2c;
  text-shadow: -0.5px -0.5px #473f20;
  margin-bottom: -5px;
}
.type-name {
  font-family: "DelhiLoungeCinzel", "Times New Roman", Times, serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #473f20;
}
.category-name,
.type-name {
  text-align: center;
}
.menu-items {
  flex-grow: 0;
  flex-basis: 69.4%;
  width: 100%;
  padding-block: 39px;
  padding-inline: 59px;
}
.menu-item {
  list-style: none;
  margin-bottom: 14px;
}
.menu-item-btn {
  width: 100%;
  background-color: transparent;
  border: none;
}
.menu-item .details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}
.menu-item .name {
  font-family: "DelhiLoungeCinzel", "Times New Roman", Times, serif;
  font-size: 16px;
  letter-spacing: 0.6px;
  margin-bottom: 3px;
  color: #473f20;
}
.menu-item .metrics {
  font-family: "DelhiLoungeCrimsonText", "Times New Roman", Times, serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #473f20;
}
.menu-item .desc {
  font-family: "DelhiLoungeCrimsonText", "Times New Roman", Times, serif;
  font-size: 13px;
  text-align: left;
  letter-spacing: 0.4px;
  color: #473f20;
}
.navbtn {
  background-color: transparent;
  border: none;
  width: 100px;
}
