@font-face {
  font-family: "DelhiLoungeCrimsonText";
  src: url("../fonts/CrimsonText/CrimsonText-Italic.ttf");
}
@font-face {
  font-family: "DelhiLoungeCinzel";
  src: url("../fonts/Cinzel/Cinzel-Bold.otf");
}
@font-face {
  font-family: "DelhiLoungeWondershine";
  src: url("../fonts/Wondershine/Wondershine.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e5e5f7;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 5px
    ),
    repeating-linear-gradient(#ffc60055, #ffc600);
  font-family: "DelhiLoungeCrimsonText", "Times New Roman", Times, serif;
  font-weight: 400;
}
@media (max-width: 1025px) and (min-width: 600px) {
  body {
    overflow: hidden;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

.container {
  --max-width: 802px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding)));
}
.menus {
  margin-inline: auto;
}
.page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.last-page {
  background-image: url(../img/menu-images/last.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-page {
  display: flex;
  height: 100%;
}
.psudo-menu-wrapper {
  width: 100%;
}
.menu-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: end;
  width: 100%;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.loading {
  background-image: url(../img/icons/loading.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
}
.d-none {
  display: none;
}
.menu-index {
  position: absolute;
  top: 0;
  margin-top: -5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column nowrap;
  z-index: 2000;
}
.home {
  position: absolute;
  top: 130px;
  /* margin-top: 5px; */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column nowrap;
  z-index: 2000;
}
.home-link {
  color: #b37f2c;
  font-size: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}
.menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "DelhiLoungeCinzel", "Times New Roman", Times, serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #473f20;
  white-space: nowrap;
}
.menu-index-hidden {
  display: none;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.toggle-btn {
  color: #94b6e0;
  font-size: 50px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.toggle-btn:hover {
  transform: scaleY(1.1);
}

.hide-list-btn + .menu-index-hidden {
  padding: 20px 60px;
  background-color: #be8a46;
}

.menu-headings {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding-inline: 59px;
}
.category-name {
  font-family: "DelhiLoungeWondershine", "Times New Roman", Times, serif;
  font-size: 57px;
  font-weight: 100;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #b37f2c;
  text-shadow: -0.5px -0.5px #473f20;
  margin-bottom: -5px;
  line-height: 1;
  padding-block: 20px;
}
.small-category-name {
  font-size: 38px;
}
.type-name {
  font-family: "DelhiLoungeCinzel", "Times New Roman", Times, serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #473f20;
}
.category-name,
.type-name {
  text-align: center;
}
.menu-items {
  flex-grow: 0;
  flex-basis: 69.4%;
  width: 100%;
  padding-block: 39px;
  padding-inline: 59px;
}
.menu-item {
  list-style: none;
  margin-bottom: 14px;
}
.menu-item-btn {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-item .details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
  gap: 10px;
}
.menu-item .name {
  font-family: "DelhiLoungeCinzel", "Times New Roman", Times, serif;
  font-size: 16px;
  letter-spacing: 0.6px;
  margin-bottom: 3px;
  color: #473f20;
  text-align: start;
}
.menu-item .metrics {
  font-family: "DelhiLoungeCrimsonText", "Times New Roman", Times, serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #473f20;
  text-align: end;
  flex-grow: 0;
  flex-basis: 41%;
}
.menu-item .desc {
  font-family: "DelhiLoungeCrimsonText", "Times New Roman", Times, serif;
  font-size: 13px;
  text-align: left;
  letter-spacing: 0.4px;
  color: #473f20;
}
.navbtn {
  background-color: transparent;
  border: none;
  width: 100px;
}
.chef-special {
  margin-left: 10px;
}
